html{
  background-color: grey;
}
body{
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}
body  h1, p, ul, li, img{
  margin:0;
  padding:0;
}
#maincontainer{
  padding-top: 20px;
  margin: 0 auto;
  width: 1300px;
}
#projects{
  opacity: 0;
  width:695px;
  height: 158px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px 20px 10px 10px;
  -moz-box-shadow: 5px 5px 8px #101010;
  -webkit-box-shadow: 5px 5px 8px #101010;
  box-shadow: 5px 5px 8px #101010;
}
a:link{
  text-decoration: none;
  color: #34E2E2;
}
a:hover{
  text-decoration: underline;
  color: #34E2E2;
}
a:visited{
  text-decoration: none;
  color: #34E2E2;
}
.title{
  text-align:left;
  color: #34E2E2;
  height: 60px;
  border: 1px solid #21252b;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #21252b;
}
.middle {
  color: #34E2E2;
  padding: 20px;
  height: 300px;
  border: 1px solid black;
  background-color: #282C34;
  text-align: left;
}
.copy{
  text-align: left;
  color: #5B616B;
  padding: 10px;
  border: 1px solid #21252b;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #21252b;
}
.stitle{
  color: #34E2E2;
  height: 46px;
  border: 1px solid #21252b;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #21252b;
}
.sbody{
  color: #34E2E2;
  padding: 20px;
  height: 300px;
  border: 1px solid black;
  background-color: #282C34;
}
.sfooter{
  color: #5B616B;
  padding: 10px;
  border: 1px solid #21252b;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #21252b;
}
.buttons{
  width: 260px;
  height: 60px;
  background-color: #21252b;
  border: 1px solid black;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
  display: inline-flex;
}
.status{
  width: 370px;
  height: 60px;
  background-color: #21252b;
  border: 1px solid black;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
  margin-right: 20px;
}
.stat{
  margin-left: 10px;
  margin-top: 20px;
}
.button{
  cursor: pointer;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  background-color: black;
  border: 3px solid white;
  transition: opacity 0.5s ease;
  opacity: 0.25;
  margin-left: 9px;
  margin-top: 6px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
div.title li, div.hire li{
  display: inline-block;
}
div.links li{
  list-style: none;
}
.mainflow{
  list-style: none;
  display:inline-flex;
}
#panel1{
  list-style: none;
  display:inline-flex;
  padding-right: 30px;
}
#panel2{
  list-style: none;
  display:inline-flex;
}
#panel3{
  padding-left: 30px;
  list-style: none;
  display:inline-flex;
}
#OI{
  margin-left: 22px;
  text-shadow: 5px 5px 5px black;
}
#SK{
  margin-left: 45px;
  text-shadow: 5px 5px 5px black;
}
#home{
  padding-top: 10px;
  margin-right: 20px;
  padding-left:10px;
}
#name{
  vertical-align: super;
}
#aboutMe{
  color: white;
  padding-top: 10px;
  padding-left: 16px;
}
#projectb{
  color: white;
  padding: 10px;
  padding-left: 16px;
}
#reach{
  padding:10px;
}
#jmp{
  padding-left: 10px;
  display: inline-flex;
}
#rit{
  padding-top:1px;
}
#gmail{
  padding-top:1px;
  font-size: 10px;
}
#inter{
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
}
#fornewline{
  padding-right: 80px;
}
#lang{
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#tool{
  padding: 10px;
}
#ptit{
  color: #34E2E2;
  height: 46px;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #21252b;
}
#pbody{
  color: #34E2E2;
  height: 91px;
  border: 1px solid black;
  background-color: #282C34;
}
#pfoot{
  height: 20px;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #21252b;
}
#proj{
  padding-top: 15px;
  text-shadow: 5px 5px 5px black;
}
#electric{
  background-color: #D96972;
}
#both{
  background-color: #BE8D60;
}
#soft{
  background-color: #91BA75;
}
#e{
  padding-left: 34px;
}
#b{
  padding-left: 75px;
}
#s{
  padding-left: 47px;
}
.ptype{
  color: white;
  border: 3px solid white;
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0.25;
  padding-bottom: 5px;
  display: inline-flex;
  height: 60px;
  margin-top: 10px;
  width: 214px;
}
.ptype h2{
  text-align: center;
}
.l{
  display: inline-flex;
  padding-bottom: 10px;
}
.s{
  display: inline-flex;
  padding-bottom: ;
}
.dot1{
  transition: opacity 0.5s ease;
  opacity: 0.25;
  margin-left: 15px;
  padding-right: 5px;
}
.dot2{
  transition: opacity 0.5s ease;
  opacity: 0.25;
  margin-left: 15px;
  padding-right: 5px;
}
.mailholder{
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: opacity 0.5s ease;
  border: 2px solid white;
  margin-right: 10px;
  opacity: 0.25;
}
div.profile img{
  border: 10px solid #21252b;
  outline: 1px solid black;
}
.about{
  display: inline-flex;
}
.bottom{
  display: inline-flex;
  margin-top: 20px;
}
.links{
  width: 50px;
  margin-right: 20px;
  height: 190px;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#21252b;
  border: 1px solid black;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
.profile{
  height: 210px;
  width: 180px;
  margin-top: 1px;
  margin-right: 20px;
  -moz-box-shadow: 6px 6px 6px black;
  -webkit-box-shadow: 6px 6px 6px black;
  box-shadow: 6px 6px 6px black;
}
.desc{
  text-align: center;
  background-color: #21252b;
  border: 1px solid black;
  padding: 10px;
  height: 190px;
  width: 350px;
  -moz-box-shadow: 6px 6px 6px #050505;
  -webkit-box-shadow: 6px 6px 6px #050505;
  box-shadow: 6px 6px 6px #050505;
}
.main{
  opacity: 0;
  width: 695px;
  border-radius: 20px 20px 10px 10px;
  -moz-box-shadow: 5px 5px 8px #101010;
  -webkit-box-shadow: 5px 5px 8px #101010;
  box-shadow: 5px 5px 8px #101010;
}
.sidepanel{
  opacity:0;
  text-align: left;
  width: 260px;
  border-radius: 20px 20px 10px 10px;
  -moz-box-shadow: 5px 5px 8px #101010;
  -webkit-box-shadow: 5px 5px 8px #101010;
  box-shadow: 5px 5px 8px #101010;
}
.interests{
  width: 215px;
  height: 195px;
  border: 1px solid black;
  background-color: #21252b;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
.contact{
  width: 215px;
  height: 75px;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #21252b;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
.skills{
  width: 215px;
  height: 295px;
  border: 1px solid black;
  background-color: #21252b;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
div.title p{
  font-size: 38px;
  font-weight: bold;
  margin-bottom:5px;
  text-shadow: 5px 5px 5px black;
}
.homeicon{
  height:40px;
  width:40px;
  border-radius:20px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
.icon{
  opacity: 0.25;
  transition: opacity 0.5s ease;
  height:40px;
  width:40px;
  border-radius:20px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}
.iconup{
  opacity: 1;
}
.iconhalf{
  opacity: 0.5;
}
.toggled{
  border-color: #DE6874;
}
.link{
  padding-bottom: 10px;
}
.icon img{
  border: 3px solid white;
  border-radius:30px;
}
.icon:hover img{
  border: 3px solid #34E2E2;
  border-radius: 30px;
}
.icon:active img{
  opacity: 0.5;
}
.button:hover{
  border: 3px solid #34E2E2;
}
